@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


/* -------------------------------
   Base Styles
-------------------------------- */
@layer base {
  body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    /* Homepage Items */
    background-color: var(--very-light-gray-bg);
    color: var(--very-dark-blue-text);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
  }

  input,
  textarea,
  select {
    color: var(--very-dark-blue-text);
    background-color: var(--white);
    font-family: 'Nunito Sans', sans-serif;
  }
}

/* -------------------------------
   Custom Colors (CSS Variables)
-------------------------------- */
:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-bg: hsl(207, 26%, 17%);
  --very-dark-blue-text: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray-bg: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

/* -------------------------------
   Dark Mode 
-------------------------------- */
.dark body {
  background-color: var(--very-dark-blue-bg);
  color: var(--white);
} 

.dark input,
.dark textarea,
.dark button,
.dark span,
.dark .card,
.dark .darkBtn,
.dark select {
  background-color: var(--dark-blue);
  color: var(--white);
}

/* -------------------------------
   Utility Classes
-------------------------------- */
@layer utilities {
  

  .bg-dark-blue {
    background-color: var(--dark-blue);
  }

  .bg-very-dark-bg {
    background-color: var(--very-dark-blue-bg);
  }

  .bg-light-bg {
    background-color: var(--very-light-gray-bg);
  }

  .text-dark-blue {
    color: var(--dark-blue);
  }

  .text-very-dark-text {
    color: var(--very-dark-blue-text);
  }

  .text-gray {
    color: var(--dark-gray);
  }

  .text-white {
    color: var(--white);
  }

  .font-light {
    font-weight: 300;
  }

  .font-semibold {
    font-weight: 600;
  }

  .font-extrabold {
    font-weight: 800;
  }

  /* container padding at standard breakpoints */
  .container-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 1440px) {
    .container-padding {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}